<div class="row">
  <div class="col-md-3">
    <%= render 'home_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Photos
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              Photos upload goes here
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
