<div class="row">

  <div class="col-md-3">
    <%= render 'home_menu' %>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Location
      </div>
      <div class="panel-body">
        <div class="container">
          <% form_for @home do |f| %>
        <div class="row">
          <div class="form-group">
            <label> Address </label>
            <%= f.text_field :address, placeholder: 'Enter address', class: 'form-control' %>
          </div>
        </div>

        <div class="center">
          <% f.submit "Save", class: "btn btn-block center" %>
        </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
