@import "bootstrap";
@import "toastr";
// Allows use of the timepicker from Bootstrap so users can select the times for the cleaning appointment.
@import "bootstrap-timepicker";
@import "jquery.ui.all";

// General styling

body {
  background-color: #FFFFFF;
  font-family: "Raleway", "Helvetica New", "Helvetica", "Arial", sans-serif;
}

.text-teal {
  color: #3AAFA9;
}

.background-teal {
  background-color: #3AAFA9;
}

.text-white {
  color: #FFFFFF;
}

.container {
  width: 80%;
}

.center {
  margin: 0;
  justify-content: center;
  text-align: center;
}

.jumbotron {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

// Button styling

.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
  border-radius: 10px;
}

.btn {
  background-color: #3AAFA9;
  color: #FFFFFF;
  border-radius: 30px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn:hover, .btn:focus, .btn-white:hover, .btn-white:focus {
  cursor: pointer; cursor: hand;
}

.btn-white {
  background-color: #FFFFFF;
  color: #3AAFA9;
  border-radius: 30px;
  font-weight: bold;
  padding: 9px 27px;
}

// Card styling
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 20px;
}

// Nav bar styling

.mask a{
  position: relative;
  display:block;
  width:70px;
  height: 70px;
  text-align:center;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
}
.mask a{
  background-position: -140px 0;
}
.mask a:hover,
.mask a:focus{
  background-position: 10px 0;
  /*change speed to see in slow motion*/
  transition: all 1s;
}
.mask a::after{
  content:'';
  position: absolute;
  pointer-events: none;
  top:0; left:0; right:0; bottom: 0;
  background: radial-gradient(0 0,circle farthest-side, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
  background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
  background-position: inherit;
  -webkit-mask: url('logo.svg') center;
  mask: url('#mask-firefox');
}

.navbar-default{
  background-color: #FFFFFF;
  color: #3AAFA9;
}

.navbar-nav{
  width: 80%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  color: #3AAFA9;
}

// Profile styling

.panel-default, .panel-heading {
  color: #FFFFFF;
  background-color: #3AAFA9;
  font-size: 18px;
  font-weight: 400;
}

.panel-body {
  background-color: #FFFFFF;
  color: #3AAFA9;
}

.panel-button {
  color: #FFFFFF;
  background-color: #3AAFA9;
  font-size: 18px;
  font-weight: 400;
  border-radius: 30px;
}

.description {
  color: #3AAFA9;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 300px;
}

.avatar-full {
  width: 100%;
}

// Images

.banner {
  width: 100%;
  margin: 0 auto;
}

// Forms

.form-group input {
  height: 45px;
  border: 1px solid #3AAFA9;
}

.form-group textarea {
  border: 1px solid #3AAFA9;
}

.form-group select {
  width: 100%;
  color: #565a5c;
  background-color: white;
  border: 1px solid #3AAFA9;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari & Chrome */
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #3AAFA9;
  top: 35px;
  right: 30px;
  transform: scale(0.94, 0.62);
}

.form-group input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #3AAFA9;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-group input[type="checkbox"]:checked:before {
  content: '\2713';
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #3AAFA9;
}

// Coloured wrapper boxes

.flex-wrapper {
  display: flex;
}
.wrap-left {
    overflow-wrap: break-word;
    width: 60%;
    padding: 0 10px 0 0;
}
.wrap-right {
    width: 100%;
    padding: 0 10px;
    margin-top: 10px;
    background: #3AAFA9;
    border-radius: 10px;
    color: white;
    text-align: center;
}

// Reservation table

.reservation-table td, .appointment-table td {
  width: 100%;
  border: none;
  border-bottom: 1px solid #3AAFA9;
  padding: 10px;
}

.reservation-table .total td, .appointment-table .total td {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

// Search page

#right {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
}

.map_hourly_rate {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #3AAFA9;
}
