<!-- This page is a booking form partial to book a cleaner (if you are a customer) or to add/edit/delete your availabilities if you are the cleaner. It links each appointment/availability to a particular user. -->

<!-- Pass the user that each appointment belongs to and the appointment details - @user is the parent and @user.appointments.new is the child -->


<!-- List this user's current availabilities in the table below - pull it up from the availabilities table, and allow editing and deletion if the current user is the same as the availability user -->
    <h2>CURRENT AVAILABILITY</h2>

    <div id="preview">
      <table class="reservation-table">
        <tbody>
          <tr>
            <td> Date <span id="availability_date"></span></td>
            <td> Start Time <span id="availability_start_time"></span></td>
            <td> End Time <span id="availability_start_time"></span></td>
            <%# if current_user.id == @availability.user_id %>
            <td> Edit <span id="availability_edit"></span></td>
            <td> Delete <span id="availability_delete"></span></td>
            <%# end %>
         </tr>

    <% if @availability.user_id != nil %>
          <tr>
            <td> <%= @availability.date %> <span id="availability_date"></span></td>
            <td> <%= @availability.start_time %> <span id="availability_start_time"></span></td>
            <td> <%= @availability.end_time %>  <span id="availability_end_time"></span></td>
          <%# if current_user.id == @availability.user_id %>
            <td> <%#= image_tag('edit.svg') %> <span id="availability_edit"></span></td>
            <td> <%#= image_tag('bin.svg') %> <span id="availability_delete"></span></td>
          <%# end %>
         </tr>

    <% else %>
    <tr>
    There are no available times.
    </tr>
        </tbody>
      </table>
<% end %>
