<!-- This page is an availability form for each cleaner to set their own availability. It links each availability to a particular user (in this case, cleaner). -->

<!-- Pass the user that each availability belongs to and the availability details - @user is the parent and @user.availability.new is the child -->

<div class="row">
  <div class="col-md-5 center">
  </div>

  <div class="col-md-3 center">
    <div class="panel panel-default">
      <div class="panel-heading center">
        ADD AVAILABILITY
      <div class="panel-body">

        <%= form_for([@user, @user.availabilities.new]) do |f| %>
        <div class="form-group">
          <%= text_field_tag :date, params[:date], readonly: true, placeholder: "Select a Date", class: "form-control datepicker" %><br/>
          <p>
          <%= f.submit "Submit Availability", class: 'btn center' %>
          </p>

        <% end %>

      </div>
    </div>
  </div>
</div>

<!-- Run script so that jquery-ui datepicker works - allows a dropdown date picker and a time picker -->
<script>
  $(function() {
    $('#date').datepicker({
      dateFormat: 'dd-mm-yy'
    });
  });

</script>
