<div class="center">
  <%#= image_tag image_data_home_path(@homes), class: "avatar-full" %>
  Insert avatar picture here as circle
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to 'HOMES', homes_path, class: 'text-teal' %></br>
    <%= link_to 'APPOINTMENTS', homes_path, class: 'text-teal' %></br>
    <%= link_to 'ACCOUNT', homes_path, class: 'text-teal' %></br>
  </div>
</div>
</div>
